<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/owner.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- style section -->
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #f5e2ce;
      }
      main {
        display: flex;
        gap: 100px;
      }
      header {
        background-color: #f5e2ce;
      }
      header nav {
        display: flex;
        flex-direction: row;
        gap: 30px;
      }

      .dashboardlist {
        display: flex;
        align-items: center;
        gap: 30px;
        white-space: nowrap;
      }
      header img {
        padding: 15px; /* Add padding around the image */
        display: block; /* Make the image a block element for better alignment */
        width: 150px; /* Set a specific width for the image */
      }
      #home {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
      }
      #dash {
        white-space: nowrap;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
      }
      #list {
        text-decoration: none;
        font-size: 1.5rem;
        background-color: #f8f4e1;
        color: black;
        font-weight: 600;
        padding: 10px 40px;
        border-radius: 20px;
      }
      /* sidenav styles */
      .sidenav {
        width: 250px; /* Specify the overall width of the sidenav */
        background-color: white; /* Background color for the entire sidenav */
        padding: 10px; /* Padding inside the sidenav */
      }

      .sidenav a {
        background-color: #f5e2ce; /* Background color for individual sections */
        margin: 10px 0; /* Space between sections */
        padding: 30px 15px; /* Space inside each section */
        border-radius: 8px; /* Rounded corners */
        text-align: center; /* Center align the text and icons */
        width: 220px; /* Specific width for the divs */
        text-decoration: none; /* Remove underline from links */
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: #543310;
      }

      .sidenav a:hover {
        background-color: #74512d; /* Background color on hover */
        color: white;
        cursor: pointer; /* Change cursor to pointer */
      }

      .sidenav i {
        font-size: 24px; /* Adjust icon size */
      }

      .sidenav span {
        position: relative;
        top: 20px;
      }

      hr {
        color: rgb(187, 181, 181);
      }
      main {
        display: flex;
        margin: 0;
        font-family: Arial, sans-serif;
        gap: 12%;
      }
      .main-view img {
        width: 20%;
      }

      /* Profile Section */
      #profiles {
        margin: 0 50px;
        background-color: #f8f4e1;
        padding: 30px;
        border-radius: 10px;
      }
      .profile-section {
        border-radius: 10px;
        background-color: #af8f6f;
        padding: 40px;
        width: 35vw;
      }
      .profile-section h1,
      h4 {
        text-align: center;
      }
      .profile-section h4 {
        margin-bottom: 20px;
      }
      .profile-section p {
        margin-left: 230px;
      }
      .profile-group {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 8px;
        max-width: 400px;
      }

      .profile-group p {
        margin: 0;
        font-size: 16px;
        color: #333;
        min-width: 120px; /* Adjusted width for consistency */
      }

      .profile-group input {
        background-color: #af8f6f;
        border: none;
        color: black;
        text-align: center;
        font-size: 16px;
        padding: 15px 60px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: fit-content; /* Ensure it matches the paragraph width */
      }
      #save-button {
        background-color: #74512d;
        color: #f8f4e1;
        border: none;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        margin-left: 190px;
        margin-top: 30px;
      }
    </style>
    <!-- header section -->
    <header>
      <nav>
        <img
          src="/images/HouseHunt-removebg-preview.png"
          alt=""
          style="background-color: white; padding: 0 60px"
        />
        <div class="dashboardlist">
          <a href="/" id="home">Home Page</a>
          <a href="/account" id="dash">Dashboard</a>
          <a href="/book" id="list">Book A Viewing</a>
          <a href="/saved" id="list">Saved Properties</a>

          <a href="/profile">
            <% if (!locals.user.PROFILE) { %>
            <img src="/profilepic/avatarr.png" style="width: 80px" />
            <% } else { %>
            <img
              src="profilepic/<%=locals.user.PROFILE %>"
              style="
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                text-align: center;
              "
            />
            <% } %>
          </a>

          <div class="greetings">
            <ul>
              <li style="list-style: none; font-size: 1.5rem; color: black">
                Hi&nbsp;<%=locals.user.fullname %><i
                  class="fa-regular fa-face-smile-beam"
                  style="color: black; margin-left: 10px"
                ></i>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="sidenav">
        <a href="/account">
          <i class="fa-solid fa-chart-line" style="color: #000000"></i>
          Dashboard
        </a>

        <hr />

        <a href="/profile">
          <p>
            <% if (!locals.user.PROFILE) { %>
            <img src="/profilepic/avatarr.png" style="width: 80px" />
            <% } else { %>
            <img
              src="profilepic/<%=locals.user.PROFILE %>"
              style="
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                text-align: center;
              "
            />
            <% } %>
          </p>
          <span>Profile</span>
        </a>

        <hr />

        <a href="/book">
          <i class="fa-solid fa-location-dot" style="color: #000000"></i>
          <span>Book a viewing</span>
        </a>

        <hr />

        <a href="/saved">
          <i class="fa-solid fa-star" style="color: #000000"></i>
          <span>Saved Properties</span>
        </a>

        <hr />

        <a href="/logout">
          <i class="fa-solid fa-right-from-bracket" style="color: black"></i>
          <span>Logout</span>
        </a>
      </div>
      <!-- end of sidenav -->

      <section>
        <div id="profiles" class="content">
          <div class="profile-section">
            <h1>Personal Info</h1>
            <h4>See and edit your profile.</h4>

            <form
              action="/update-profile"
              method="POST"
              id="profile-form"
              enctype="multipart/form-data"
            >
              <%let Updatesuccess=locals.Updatesuccess%> <% if (Updatesuccess) {
              %>
              <div
                style="
                  color: rgb(36, 218, 36);
                  text-align: center;
                  margin-top: 20px;
                "
              >
                <%= Updatesuccess %>
              </div>
              <% } %>

              <p>
                <% if (!locals.user.PROFILE) { %>
                <img src="/profilepic/avatarr.png" style="width: 80px" />
                <% } else { %>
                <img
                  src="profilepic/<%=locals.user.PROFILE %>"
                  style="
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    text-align: center;
                  "
                />
                <% } %>
                <input type="file" name="profile" id="profile" />
              </p>
              <div class="profile-group">
                <p>Full Name</p>
                <input
                  type="text"
                  name="fullname"
                  id="fullname"
                  value="<%= locals.profile.fullname %>"
                />
              </div>

              <div class="profile-group">
                <p>Email:</p>
                <input
                  type="email"
                  name="email"
                  id="email"
                  value="<%= locals.profile.email %>"
                />
              </div>

              <div class="profile-group">
                <p>Contact:</p>
                <input
                  type="text"
                  name="contact"
                  id="contact"
                  value="<%= locals.profile.contact %>"
                />
              </div>

              <div class="profile-group">
                <p>Address:</p>
                <input
                  type="text"
                  name="address"
                  id="address"
                  value="<%= locals.profile.address %>"
                />
              </div>

              <button type="submit" id="save-button">Save Changes</button>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
